<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Red Alert</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    
    <body>

    <form action="/" method="post">
    <label for="name">Player</label>
    <input name="player" id="name" type="text" onkeyup="success()">
	<button type="submit" id="myBtn" name="start" value="start" disabled>Start Game</button>
    </form>

	<div id="myModal" class="modal">
    <div id="timel"><h2>Time left: <span id="time">01:00</span></h2> </div>
        <h2 id="score-num">Score: 0</h2>
  		<div class="modal-content">

    			<button id="button" class="button">ALERT</button>
            
  		</div>
        <div>
                <button id="mine" class="mine">ALER T</button>
                <button id="mine2" class="mine">ALER T</button>
                <button id="mine3" class="mine">ALER T</button>
        </div>
	</div>
	<script src="../static/js/game.js"></script>
    </body>
    
</html>
